<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITssue.dao.BoardMapper">

	<insert id="newWrite" parameterType="com.ITssue.entity.Board">
		insert into board
		values
		(
			board_no_seq.nextval,
			#{board_title},
			#{board_content},
			#{hash_tag},
			sysdate,
			0,
			#{id},
			#{board_file, jdbcType=VARCHAR}
		
		)
	</insert>
	
	<select id="listView" resultType="com.ITssue.entity.Board">
		select *
		from board
		order by board_no desc
	</select>

	<select id="boardRank" resultType="com.ITssue.entity.Board">
		select *
		from (select * from board
			order by likes desc, board_no desc)
		where rownum between 1 and 3
	</select>

<delete id="deleteBoard">
delete from board
where board_no = #{board_no}
</delete>

<select id="boardView" resultType="com.ITssue.entity.Board">
select * from board
where board_no = #{board_no}
</select>


</mapper>