<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITssue.database.DiaryMapper">

<select id="diaryList" resultType="com.ITssue.entity.Diary">

	select * from diary
	where id = #{id}
</select>

<select id="pickDiary" resultType="com.ITssue.entity.Diary">
select * from diary
where diary_no = #{diary_no}
</select>

<delete id="deleteDiary">
delete from diary
where diary_no = #{diary_no}
</delete>

</mapper>