<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITssue.dao.MembersMapper">

	<insert id="join" parameterType="com.ITssue.entity.Members">
		insert into members
		values
		(
			#{id},
			#{pw},
			#{birth},
			#{nick},
			sysdate,
			'm',
			null
		)
	
	</insert>
	
	<select id="login"
			parameterType="com.ITssue.entity.Members"
			resultType="com.ITssue.entity.Members">
		select *
		from members
		where id = #{id}
		and pw = #{pw}
	</select>

	<update id="update" parameterType="com.ITssue.entity.Members">
		update members
		set pw=#{pw}, birth=#{birth}, nick=#{nick}
		where id=#{id}
	</update>

	<update id="memoWrite" parameterType="com.ITssue.entity.Members">
		update members
		set content = #{content}
		where id=#{id}
	</update>
	
	<delete id="delete" parameterType="com.ITssue.entity.Members">
		delete from members
		where id=#{id}
		and pw=#{pw}
	</delete>
	
	<select id="idSearch" resultType="com.ITssue.entity.Members">
		select nick
		from members
		where id = #{id}
	</select>
	
</mapper>