<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ITssue.dao.ScheduleMapper">

	<insert id="SCinsert" parameterType="com.ITssue.entity.Schedule">
		insert into schedule
		values
		(
		    sche_no_seq.nextval,
		    #{sche_content},
		    to_date('${sche_s_dt}', 'yyyy-mm-dd hh24:mi:ss'),
		    to_date('${sche_e_dt}', 'yyyy-mm-dd hh24:mi:ss'),
		    #{id},
		    #{scheduel_type}
		)
	</insert>
	
	<delete id="SCdelete">
		delete from schedule
		where sche_no = #{sche_no}
	</delete>
	
	<select id="scheList" resultType="com.ITssue.entity.Schedule">
		select *
		from schedule
		where id = #{id}
		order by sche_no asc
	</select>
	
	<update id="SCupdate" parameterType="com.ITssue.entity.Schedule">
		update schedule
		set sche_s_dt = to_date('${sche_s_dt}', 'yyyy-mm-dd hh24:mi:ss'),
		    sche_e_dt = to_date('${sche_e_dt}', 'yyyy-mm-dd hh24:mi:ss'),
		    scheduel_type = #{scheduel_type}
		where sche_no = #{sche_no}
	</update>



</mapper>